# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Production build outputs
dist/
dist-ssr/
build/

# Vite specific cache
.vite/

# Next generation frontend tooling cache
.turbo/
.nuxt/
.next/

# Firebase cache
.firebase/

# Nuxt dev/build outputs
.output/

# TypeScript cache
*.tsbuildinfo

# Environment variables (Crucial for security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.local

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional styleguidist dev server folder
lib/

# Enhanced IDE / Editors config files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
*.lcov

# Operating System files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
